<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ha-Meem ERP | @ViewBag.Title</title>
    <link href="../../Images/HG.png" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
  
    @Styles.Render("~/UIFramework/KendoUI/kendo/kendoui.web/styles/kendo.common.min.css")
    @Styles.Render("~/UIFramework/KendoUI/kendo/kendoui.web/styles/kendo.bootstrap.min.css")
    @Styles.Render("~/Content/docs.min.css")
    @Styles.Render("~/Content/coustom.css")
    @Styles.Render("~/UIFramework/KendoUI/Css/Common.css")
    @Styles.Render("~/UIFramework/KendoUI/Css/CommonSize.css")
    @*@Styles.Render("~/Content/Custom/customMenu.css")*@
    @Styles.Render("~/Content/font-awesome.min.css")

    @Styles.Render("~/UIFramework/MessageBox/css/buttons1.css")

    @Styles.Render("~/UIFramework/FileInput/css/fileinput.css")

    @*@Styles.Render("~/Content/Menu/newMenu.css")*@
    @*@Styles.Render("~/Content/Menu/dropdown.css")*@
    @Styles.Render("~/Content/Menu/LightOperaDropDownMenu.css")


    @Styles.Render("~/Content/animate.css")


    @{
        var themeName = Session["themeName"];
        if (themeName == null)
        {
            // themeName = "default";
            themeName = "blueopal";
        }
        else
        {
            themeName = Session["themeName"];
        }
    }
    @Styles.Render("~/UIFramework/KendoUI/kendo/kendoui.web/styles/kendo." + @themeName + ".min.css")
    @Styles.Render("~/UIFramework/KendoUI/Css/KendoThemes.css")
    <link href="~/UIFramework/KendoUI/kendo/kendoui.web/styles/kendo.custom.css" rel="stylesheet" />

    @Scripts.Render("~/Scripts/jquery-2.2.3.min.js")
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.js"></script>
    
    @Scripts.Render("~/UIFramework/FileInput/js/fileinput.js")
    @Scripts.Render("~/UIFramework/KendoUI/kendo/kendoui.web/js/kendo.all.min.js")
   
    @*<script src="~/UIFramework/KendoUI/kendo/kendoui.web/js/kendo.web.min.js"></script>*@
    <script src="~/Scripts/angular-1.7.5/kendo.angular.min.js"></script>
    @Scripts.Render("~/UIFramework/amcharts/amcharts.js")
    @Scripts.Render("~/UIFramework/amcharts/serial.js")

    @Scripts.Render("~/Scripts/sweetalert.min.js")

    @*@Scripts.Render("~/Scripts/Common/MKTCommon.js")*@
    @Scripts.Render("~/Scripts/Common/SMSCommon.js")
    @Scripts.Render("~/Scripts/Common/HDLCommon.js")
    @Scripts.Render("~/Scripts/Common/HRMCommon.js")

    @Scripts.Render("~/Scripts/jquery.maskedinput.min.js")

    @Scripts.Render("~/Scripts/Common/common.js")
    @Scripts.Render("~/Scripts/date.js")


    @Scripts.Render("~/Scripts/Common/Login/UserLogin.js")
    @Scripts.Render("~/Scripts/Common/Login/Login.js")
    @Scripts.Render("~/Scripts/Common/Login/LogOff.js")
    @Scripts.Render("~/Scripts/Common/Login/Menu.js")
   
    <script type="text/javascript">
        $(document).ready(function () {
            mnHelper.GetMenuInformation();
            //mnHelper.youLogedInAs();
            //mnManager.getCurrentUser();
        });
    </script>

    <style>
        body {
            background-color: #f9fcff;
        }

        .avatar {
            vertical-align: middle;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            float: right;
            margin-top: 10px;
        }

        #btnLogOff {
            border-radius: 10% !important;
        }
    </style>

</head>



<body >

    <div class="navbar navbar-inverse" style="border-radius:0px;">
        <div class="container-fluid" style="padding-right: 0px !important; padding-left: 0px !important;">
            <div class="col-md-10 col-xs-10">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="cssmenu">
                    <ul class="menu" id="kendoMenu"></ul>
                </div>
            </div>

            <div class="col-md-2 col-xs-2" style="padding-right: 0px !important; padding-left: 0px !important;">
                <div style="text-align: right; float: right" class="form-group form-group-custom">
                    <label id="lblWelcome" style="color: white; font-family: century gothic"></label>
                    <button class="btn btn-xs btn-info" type="button" id="btnLogOff" value="LogOff" style="color: White; background-color: cornflowerblue"><span class="glyphicon glyphicon-log-out"></span></button>
                </div>
                <img src="~/images/chat/usr1.jpg" alt="Avatar" class="avatar">
            </div>
        </div>
    </div>

    @*<br />*@
    <div class="spacer5"></div>
    <div class="container-fluid body-content">
        @*container-fluid*@

        @RenderBody()
        @*<hr/>*@
        <footer class="footer-area navbar-fixed-bottom">
            <div class="row" style="height: 20px">
                <div class="col-md-6 col-xs-6">&copy; @DateTime.Now.Year - All right reserved Ha-Meem Group</div>
                <div class="col-md-6 col-xs-6" style="float: right;text-align: right">Developed By: Ha-Meem Group (IT)</div>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
